.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: inherit;
    gap: 23px;
    align-items: baseline;
    justify-content: space-between;
  }
  .js-open-menu{
    display: none;
  }
  &__nav {
    display: inherit;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    margin: 0;
    &__color {
      color: $focus-active-hovercolor;
    }
  }
  &__submenu {
    font-weight: 500;
    font-size: &mainfont-size;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:  $mainfontcolor;
    text-decoration: none;
    padding-right: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $focus-active-hovercolor;
    }
    &:focus {
      color: $focus-active-hovercolor;
    }
    &:active {
      color: $focus-active-hovercolor;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  }
  &__icons {
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $focus-active-hovercolor;
    }
    &:focus {
      color: $focus-active-hovercolor;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: var(--mainfont-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $shadowfontcolor;
    text-decoration: none;
    fill:  $shadowfontcolor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      color: $focus-active-hovercolor;
      fill: $focus-active-hovercolor;
    }
    &:hover {
      color: $focus-active-hovercolor;
      fill: $focus-active-hovercolor;
    }
  }
}
.hd-section {
  padding-top: 24px;
  padding-bottom: 25px;
}
.current {
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 66%;
    height: 4px;
    background-color: $focus-active-hovercolor;
    border-radius: 2px;
  }
}
@media screen and ( max-width: 767px) {
  .main-header{
    display: flex;
    &__menu{
      display: inherit;
    }
    .js-open-menu{
      display: flex;
      border: none;
      background-color: inherit;
      &:hover,
      &:focus{
        fill: $focus-active-hovercolor;
      }
    }
    &__nav{
      display: none;
    }
    &__submenu {
      display: none;
    }
    &__list{
      display: none;
    }
  }

}
@media screen and (max-width: 767px) {
  
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $darkbd-fontcolor;
  z-index: 999;

  transform: translateX(100%);
  transition: $animation-main;
  &.is-open {
    transform: translateX(0);
  }
  .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color:$darkbd-fontcolor;
    border: none;
    :hover{
      fill: $focus-active-hovercolor;
    }
  }
}
.mobile{
  display: flex;
  flex-direction: column;
&__menu{
  font-size: 40px;
  letter-spacing: 0.2rem;
  font-weight: 500;
  line-height: 1.17;
  color: black;
  & > li{
    padding-bottom: 10px;
    &:hover,
    &:focus{
    color: $focus-active-hovercolor;
  }
  }
  &__second{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__third{
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    bottom: 2px;
    left: 10px;
    & > li{
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      &:hover{
        color: $focus-active-hovercolor;
      }
    }
  }
}
&__phone{
  font-size: 34px;
}
&__email{
  font-weight: 500;
  font-size: 24px;
  color: $shadowfontcolor;
}
}

}