.upper-main {
  background-color: $darkbd-fontcolor;

  &__about {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 30px;
    list-style: none;
    justify-content: center;
    
    @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  @include desktop{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
  }
}

  &__lorem-img {
   
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    padding-block: 25px;
    padding-inline: 100px;
    margin-bottom: 30px;

  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: $mainfont-size;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    max-width: 270px;
    @include tablet{
      max-width: 356px;
      text-align: start;
    }
    @include desktop{
      max-width: 270px;
      text-align: start;
    }
  }

  &__text {
    font-size: $mainfont-size;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $shadowfontcolor;
    margin-top: 10px;
    max-width: 270px;
    @include tablet{
      max-width: 270px;
      text-align: start;
    }
    @include desktop{
      max-width: 270px;
      text-align: start;
    }
  }
}