.upper-main {
  background-color: $darkbd-fontcolor;

  &__about {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  &__lorem-img {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    padding-block: 25px;
    padding-inline: 100px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: $mainfont-size;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
  }

  &__text {
    font-size: $mainfont-size;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $shadowfontcolor;
  }
}
 @media screen and (max-width: 767px) {
  .upper-main {
    background-color: $darkbd-fontcolor;
    &__about {
      flex-wrap: wrap;
      }
      &__title {
       max-width: 270px;
       text-align: center;
      }
      &__text{
        max-width: 270px;
      }
    }
  
 }